body {
  background: linear-gradient(180deg, #f5fbff 0%, #d8f0ff 100%) !important;
}
.hbx-bg-gradient {
  background: linear-gradient(135deg, #ffd1dc, #ffb3c6);
  background-size: cover;
  background-repeat: no-repeat;
}

